{% extends "index.html" %}

{% block content %}
    <div id='howtouse' style="text-align:left;color:#282828">
        <h3>Как пользоваться сайтом?</h3>
        <p>Для корректного поиска необходимо ввести запрос с пробелами между словами и без знаков препинания, если последнее не предусмотрено типом запроса.</p>
        <h5>Типы запросов</h5>
        <ul>
            <li><b>Лексема/словоформа</b>: поиск выдаст все вхождения по лексеме.</li>
            <li><b>Конкретная форма</b>: поиск выдаст все вхождения, в которых запрос встречается в форме, в которой он введен. Запрос вводится в двойных кавычках (""). </li>
            <li><b>Частеречный тег</b>: поиск выдает все вхождения с указанной частью речи.</li>
            <li><b>Словоформа + частеречный тег</b>: все вхождения, в которых лексеме соответствует определнная часть речи.</li>
        </ul>
    </div>
{% endblock %}