{% extends "index.html" %}

{% block content %}
    <div style="text-align:left;color:#282828;">
        <h3>Теги</h3>
        <p>Для разметки корпуса использовался Universal Dependencies Tagset.</p>
        <ul>
            <li><b>ADJ</b>: прилагательное</li>
            <li><b>ADP</b>: адлог</li>
            <li><b>ADV</b>: наречие</li>
            <li><b>AUX</b>: вспомогательный глагол</li>
            <li><b>CCONJ</b>: сочинительный союз</li>
            <li><b>INTJ</b>: междометие</li>
            <li><b>NOUN</b>: существительное</li>
            <li><b>NUM</b>: число</li>
            <li><b>PART</b>: частица</li>
            <li><b>PRON</b>: местоимение</li>
            <li><b>PROPN</b>: имя собственное</li>
            <li><b>PUNCT</b>: пунктуация</li>
            <li><b>SCONJ</b>: подчинительный союз</li>
            <li><b>SYM</b>: символ</li>
            <li><b>VERB</b>: глагол</li>
            <li><b>X</b>: другое</li>
        </ul>
    </div>
{% endblock %}